@import 'https://fonts.googleapis.com/css?family=Josefin+Slab';

.section-project {
  padding: 1%;
  position: relative;
  background-color: #222;
}

.project-carousel {
  position: relative;
  padding: 30px 0;
}

.project-strip {
  margin: 150px 0 150px;
  filter: blur(10px);
}
.project-strip .project {
  cursor: pointer;
}
.project-strip img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.project-screen {
  width: 1200px;
  height: 480px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.project-screen .project-detail {
  position: absolute;
  left: 0;
  right: 0;
  width: 1200px;
  height: 480px;
  margin: -1px auto 0;
  z-index: 1;
  background-color: #333;
}
.project-screen .screen-frame {
  content: " ";
  width: 1200px;
  height: 480px;
  position: absolute;
  background-image: url("https://dl.dropboxusercontent.com/u/26808427/cdn/experiments/training/macbook-frame.png");
  background-repeat: no-repeat;
}
.project-screen .project {
  margin-right: -100%;
  float: left;
  cursor: move;
}